[color]
	diff = always
	ui = true
[user]
	name = jp
	email = jplikesbikes@gmail.com
[push]
	default = simple
	autoSetupRemote = true
[core]
	editor = vim
	pager = less -x2 -F -X
	excludesfile = ~/.gitignore_global
[help]
	autocorrect = 1
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	b = branch
	delete = push origin --delete
	co = checkout
[pull]
	rebase = false
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
